.edit-button {
    width: 22px;
    height: 22px;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../images/pane.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 769px) {
    .edit-button {
        width: 16px;
        height: 16px;
    }
}