.element__group {
    background: url('../../../images/lick.svg') center no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    height: 18.13px;
    width: 20.76px;
    border: none;
    cursor: pointer;
}

.element__group:hover {
    opacity: 0.6;
}